.top-wrapper
  .side-ber
    .side-ber__left
    .side-ber__right
      .side-ber__right__container
        .title-area
          .title-area__top
            .title-area__top__left
              駆け出しエンジニア
            .title-area__top__right
          .title-area__bottom
            .title-area__user
        .conversation-area
          .conversation-area__left
          .conversation-area__right
        
  .main-cotainer
    .container__header
    .container__contents
      
      っっっっ



      っっっっ



      っっっっ





      っっっっ





      っっっっ





      っっっっ



      zっっっっ

    .container__bottom