.top-wrapper
  .side-ber
    .side-ber__left
    .side-ber__right
      .side-ber__right__container
        .title-area
          .title-area__top
            .title-area__top__left
              駆け出しエンジニア
            .title-area__top__right
              %i.fa.fa-angle-down
              %i.fa.fa-bell-slash
          .title-area__bottom
            .title-area__bottom__user
              %i.fa.fa-user-circle
              %h2 りょうた
        .conversation-area
          .conversation-area__left
            %button.conversation
              %i.fa.fa-search
              %h3 会話を移動
          .conversation-area__right
            %button.arrow-left
              %i.fa.fa-chevron-left
            %button.arrow-right
              %i.fa.fa-chevron-right
        .thread-area
          .thread-area__top
            %i.fa.fa-comments
            %h3 スレッド
          .thread-area__bottom
            .thread-area__bottom__icon
              %i.fa.fa-ellipsis-v
              %i.fa.fa-ellipsis-v
              %i.fa.fa-ellipsis-v
            %h3 App
        .channel-area
          .channel-area__title
            %h3 チャンネル
            %i.fa.fa-plus-circle
          .channel-area__contents
            %h3 # あいさつ部屋
            %h3 # アウトプット部屋
          .channel-area__add
            %h3 + チャンネルを追加する
        .direct-area
          .direct-area__title
            %h3 ダイレクトメッセージ
            %i.fa.fa-plus-circle
          .direct-area__users
            .direct-area__user
              %i.fa.fa-user-circle
              %h3 りょうた（自分）
            .direct-area__user
              %i.fa.fa-user-circle
              %h3 ゆうた
          .direct-area__add
            %h3 + メンバーを招待する
        .app-area
          .app-area__title
            %h3 最近使用したアプリ
          .app-area__contents
            %h3 + Google Calendarをインストールする
            %h3 + Google Driveをインストールする
            %h3 + アプリを追加する



        
  .main-cotainer
    .container__header
    .container__contents
      
      っっっっ



      っっっっ



      っっっっ





      っっっっ





      っっっっ





      っっっっ



      zっっっっ

    .container__bottom