%footer#footer.fixed-bottom
  = form_with model: @message do |f|
    .form-group-text
      / ここは自動的に message_content というidが付きます。アンダーバーなので注意！
      = f.text_area :message, class: 'form-control', rows: '1', maxlength: '500'
    .form-group-submit
      = f.submit '送信', class: 'btn btn-primary btn-block disabled', id: 'message-button'
